<ion-view view-title="Home" name="login-view">
  <ion-content class="padding">
      One day a group of husbands and wives went to a scientific program. The doctor there was showing them brains from real peopleand telling how expensive it would be to buy one. He said it was five million dollars for a female brain and ten million dollars for a male brain. The men snickered, thinking they knew why. One of the women said, ''Well, why is that, sir?'' The doctor answered, "The men's brains cost more, for they have never been used."
  </ion-content>
</ion-view>